<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Commit To Be Fit</h1>

    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    <%# My homepage link is only temp%>
    <a href="/users">My Homepage</a>
  </body>
</html>
