html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('/images/chalkboard.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 70px;
}
/*change later*/
form {
  color: #000;
}

.navbar {
  background-color: #4EC5C1;
  opacity: 0.9;
  border: none;
}

.navbar li:hover {
  background-image: url('/images/chalkboard.jpg');
  background-color: #000;
  border-radius: 3px;
}

.navbar .navbar-default .navbar-fixed-top {
  border-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #fff;

}
