html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('/images/chalkboard.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #EC576B;
  padding-top: 70px;
  background-color: #21201E;
  font-family: 'Boogaloo', cursive;
  font-size: 25px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.navbar {
  background-color: #4EC5C1;
  opacity: 0.9;
  border: none;
}

.navbar li:hover {
  background-image: url('/images/chalkboard.jpg');
  background-color: #000;
  border-radius: 3px;
}

.navbar .navbar-default .navbar-fixed-top {
  border-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #EC576B;

}

.footer input {
  border: none;
  background-color: #ff0000;
  color: #fff;
  border-radius: 3px;
  margin-top: 30px;
}

/*form styling*/
.form-control {
  width: 50%;
}

button {
  text-decoration: none;
  border: 1px solid #86E66B;
  background-color: #86E66B;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  color: #fff;
  display: table-cell;
}


button:hover {
  text-decoration: none;
  background-color: #FF7283;
  border: 3px solid #FF7283;
  color: #000;
  box-shadow: 3px 3px 3px #706E69;
}




@media (max-width: 765px) {
  body {
    padding-top: 190px;
  }
}
