
body {
  background-image: url('/images/chalkboard.jpg');
  background-color: #21201E;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #86E66B;
  padding-top: 40px;
  font-family: 'Boogaloo', cursive;
  font-size: 25px;
}

.navbar {
  background-color: #4EC5C1;
  opacity: 0.9;
  border: none;
}

.navbar li:hover {
  background-image: url('/images/chalkboard.jpg');
  background-color: #000;
  border-radius: 3px;
}

.navbar .navbar-default .navbar-fixed-top {
  border-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #EC576B;

}

.header {
  width: auto;
  height: 300px;
  background-image: url('/images/header1.jpg');
  background-position: center;
  background-size: cover;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-align: center;
}

.header-title {
  color: #21201E;
  text-align: center;
  padding-top: 200px;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}


.title {
  padding-top: 20%;
}


.add-edit-button {
  text-decoration: none;
  border: 1px solid #EC576B;
  background-color: #EC576B;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  color: #fff;
  display: table-cell;
  font-size: 20px;
}


.add-edit-button:hover {
  text-decoration: none;
  background-color: #FF7283;
  color: #000;
  box-shadow: 3px 3px 3px #706E69;

}

.delete {
  border-radius: 5px;
  background-color: #4EC5C1;
  border: 1px solid #4EC5C1;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}

.delete:hover {
  background-color: #5AE3DE;
  box-shadow: 3px 3px 3px #706E69;
  color: #000;
}

#new-vid {
  float: right;
}

h3 > a {
  color: #fff;
}

h3 > a:hover {
  color: #FF7283;
}

.col-md-4 {
  margin-bottom: 20px;
}


/*Video- show page*/
.center-show {
  text-align: center;
}

/*Footer- user index page*/

footer {
  display: inline-flex;
  float: right;
}

.footer {
  margin: 30px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}



@media (max-width: 765px) {
  body {
    padding-top: 190px;
  }

  .col-md-4 {
    margin-bottom: 20px;
  }
}
