<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>

    <h1><%=user.username%>'s Profile (need to be logged in first)</h1>

    <a href="#">Add New Video</a>


  </body>
</html>
